<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleap.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="bg-white">
	<section>
		<div class="container mt-5">
			<h1 class="text-center mb-4">Terms and Conditions</h1>

			<section class="mb-5">
				<h3>Introduction</h3>
				<p>Welcome to Real Trading 2M. By accessing or using the
					services provided by [Real Trading 2M ], you agree to comply with
					these Terms and Conditions. If you do not agree, please refrain
					from using our courses and services .</p>
			</section>


			<section class="mb-5">
				<h3>Definitions</h3>
				<p>[Real Trading 2M ], a non-SEBI registered entity.</p>
				<p>Client: Any individual or entity utilizing the services of
					the Firm. All services provided by the Firm. Is only for
					educational purpose not for any buy/sell recommendations.</p>
			</section>

			<section class="mb-5">
				<h3>Services Provided</h3>
				<p>the accuracy and quality of our Courses & content, but we do
					not guarantee specific outcomes.</p>
			</section>

			<section class="mb-5">
				<h3>Client Responsibilities</h3>
				<p>Clients must provide accurate information and comply with all
					applicable laws and regulations while using our services.before any
					buy/sell or putting money in market on the behalf of our services
					consultant to your financial advisor.</p>
			</section>

			<section class="mb-5">
				<h3>Non Refundable Policy</h3>
				<p>Our courses duration validity mentioned on course we provide
					only for specific time not more than that and make sure you not
					influance by anything and you takes course etc with your need and
					interest for learning purpose we are not responsible for anything
					after get the course. No refund Policy.</p>
			</section>

			<section class="mb-5">
				<h3>Payment Terms and Condition</h3>
				<p>All payments must be made in accordance with the agreed
					terms. Accepted payment methods include. The Real Trading 2 M
					reserves the right to modify pricing at any time. And all the
					payments you made after accept our terms and conditions is
					<b>Non Refundable</b>.</p>
			</section>
	</section>
</body>
</html>